.expertise .swiper {
  width: 100%;
  height: 100%;
}
.expertise .swiper-wrapper {
  display: flex;
  align-items: center;

  /* justify-content: center; */
}
.expertise .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* height: 600px; */
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  height: 100%;
  max-height: 450px;
  min-height: 300px;
  border: 1px solid #d9b75854;
  padding: 30px;
}

.expertise .swiper {
  margin-left: auto;
  margin-right: auto;
}
.expertise .swiper-pagination-bullet-active {
  background-color: #d9b658 !important;
}
