@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Serif:ital@0;1&display=swap")
  @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1e1e1e;
}
body {
  margin: 0;
  /* max-width: 1440px; */
  /* width: 100%; */
  /* background-color: red; */
}
.cta-border {
  border: 1px solid #d9b75854;
}

.backgoundMerge {
  background: linear-gradient(
    rgb(0, 0, 0, 0.1),
    rgb(30, 30, 30, 0.4),
    rgb(30, 30, 30, 1)
  );
}

.expandable {
  min-height: 0;
  color: white;
}
.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 500ms ease-in;
}

.wrapper.open {
  grid-template-rows: 1fr;
}
