.mySwipertestimonial .swiper {
  width: 100%;
  height: 100%;
}
.mySwipertestimonial .swiper-wrapper {
  display: flex;
  align-items: center;
  /* background-color: green; */
}
.mySwipertestimonial .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: green; */
}

.mySwipertestimonial .swiper {
  margin-left: auto;
  margin-right: auto;
}
/* .mySwiper .swiper-slide-active .testimonial-item {
  border: 2px solid #d9b658;
  padding: 50px;
} */
